# Creating Spark Session

In [ ]:
#import findspark
#findspark.init()
!pip install pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=12b5094b18c8a65da1f13ffb4d4924c384c89114a1563deca47e7c2cdda7531b
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

# **Creating a Spark Context**

In [ ]:
sc=spark.sparkContext

**Function to calculate mod**

In [ ]:
def mod(x):
    import numpy as np
    return (x, np.mod(x, 2))

**Creating an RDD**

In [ ]:
rdd = sc.parallelize(range(1000)).map(mod).collect()
print(rdd)

[(0, 0), (1, 1), (2, 0), (3, 1), (4, 0), (5, 1), (6, 0), (7, 1), (8, 0), (9, 1), (10, 0), (11, 1), (12, 0), (13, 1), (14, 0), (15, 1), (16, 0), (17, 1), (18, 0), (19, 1), (20, 0), (21, 1), (22, 0), (23, 1), (24, 0), (25, 1), (26, 0), (27, 1), (28, 0), (29, 1), (30, 0), (31, 1), (32, 0), (33, 1), (34, 0), (35, 1), (36, 0), (37, 1), (38, 0), (39, 1), (40, 0), (41, 1), (42, 0), (43, 1), (44, 0), (45, 1), (46, 0), (47, 1), (48, 0), (49, 1), (50, 0), (51, 1), (52, 0), (53, 1), (54, 0), (55, 1), (56, 0), (57, 1), (58, 0), (59, 1), (60, 0), (61, 1), (62, 0), (63, 1), (64, 0), (65, 1), (66, 0), (67, 1), (68, 0), (69, 1), (70, 0), (71, 1), (72, 0), (73, 1), (74, 0), (75, 1), (76, 0), (77, 1), (78, 0), (79, 1), (80, 0), (81, 1), (82, 0), (83, 1), (84, 0), (85, 1), (86, 0), (87, 1), (88, 0), (89, 1), (90, 0), (91, 1), (92, 0), (93, 1), (94, 0), (95, 1), (96, 0), (97, 1), (98, 0), (99, 1), (100, 0), (101, 1), (102, 0), (103, 1), (104, 0), (105, 1), (106, 0), (107, 1), (108, 0), (109, 1), (110, 0), (111, 1), (112, 0), (113, 1), (114, 0), (115, 1), (116, 0), (117, 1), (118, 0), (119, 1), (120, 0), (121, 1), (122, 0), (123, 1), (124, 0), (125, 1), (126, 0), (127, 1), (128, 0), (129, 1), (130, 0), (131, 1), (132, 0), (133, 1), (134, 0), (135, 1), (136, 0), (137, 1), (138, 0), (139, 1), (140, 0), (141, 1), (142, 0), (143, 1), (144, 0), (145, 1), (146, 0), (147, 1), (148, 0), (149, 1), (150, 0), (151, 1), (152, 0), (153, 1), (154, 0), (155, 1), (156, 0), (157, 1), (158, 0), (159, 1), (160, 0), (161, 1), (162, 0), (163, 1), (164, 0), (165, 1), (166, 0), (167, 1), (168, 0), (169, 1), (170, 0), (171, 1), (172, 0), (173, 1), (174, 0), (175, 1), (176, 0), (177, 1), (178, 0), (179, 1), (180, 0), (181, 1), (182, 0), (183, 1), (184, 0), (185, 1), (186, 0), (187, 1), (188, 0), (189, 1), (190, 0), (191, 1), (192, 0), (193, 1), (194, 0), (195, 1), (196, 0), (197, 1), (198, 0), (199, 1), (200, 0), (201, 1), (202, 0), (203, 1), (204, 0), (205, 1), (206, 0), (207, 1), (208, 0), (209, 1), (210, 0), (211, 1), (212, 0), (213, 1), (214, 0), (215, 1), (216, 0), (217, 1), (218, 0), (219, 1), (220, 0), (221, 1), (222, 0), (223, 1), (224, 0), (225, 1), (226, 0), (227, 1), (228, 0), (229, 1), (230, 0), (231, 1), (232, 0), (233, 1), (234, 0), (235, 1), (236, 0), (237, 1), (238, 0), (239, 1), (240, 0), (241, 1), (242, 0), (243, 1), (244, 0), (245, 1), (246, 0), (247, 1), (248, 0), (249, 1), (250, 0), (251, 1), (252, 0), (253, 1), (254, 0), (255, 1), (256, 0), (257, 1), (258, 0), (259, 1), (260, 0), (261, 1), (262, 0), (263, 1), (264, 0), (265, 1), (266, 0), (267, 1), (268, 0), (269, 1), (270, 0), (271, 1), (272, 0), (273, 1), (274, 0), (275, 1), (276, 0), (277, 1), (278, 0), (279, 1), (280, 0), (281, 1), (282, 0), (283, 1), (284, 0), (285, 1), (286, 0), (287, 1), (288, 0), (289, 1), (290, 0), (291, 1), (292, 0), (293, 1), (294, 0), (295, 1), (296, 0), (297, 1), (298, 0), (299, 1), (300, 0), (301, 1), (302, 0), (303, 1), (304, 0), (305, 1), (306, 0), (307, 1), (308, 0), (309, 1), (310, 0), (311, 1), (312, 0), (313, 1), (314, 0), (315, 1), (316, 0), (317, 1), (318, 0), (319, 1), (320, 0), (321, 1), (322, 0), (323, 1), (324, 0), (325, 1), (326, 0), (327, 1), (328, 0), (329, 1), (330, 0), (331, 1), (332, 0), (333, 1), (334, 0), (335, 1), (336, 0), (337, 1), (338, 0), (339, 1), (340, 0), (341, 1), (342, 0), (343, 1), (344, 0), (345, 1), (346, 0), (347, 1), (348, 0), (349, 1), (350, 0), (351, 1), (352, 0), (353, 1), (354, 0), (355, 1), (356, 0), (357, 1), (358, 0), (359, 1), (360, 0), (361, 1), (362, 0), (363, 1), (364, 0), (365, 1), (366, 0), (367, 1), (368, 0), (369, 1), (370, 0), (371, 1), (372, 0), (373, 1), (374, 0), (375, 1), (376, 0), (377, 1), (378, 0), (379, 1), (380, 0), (381, 1), (382, 0), (383, 1), (384, 0), (385, 1), (386, 0), (387, 1), (388, 0), (389, 1), (390, 0), (391, 1), (392, 0), (393, 1), (394, 0), (395, 1), (396, 0), (397, 1), (398, 0), (399, 1), (400, 0), (401, 1), (402, 0), (403, 1), (404, 0), (405, 1), (406, 0), (407, 1), (408, 0), (409, 1), (410, 0), (411, 1), (412, 0), (413, 1), (414, 0), (415, 1), (416, 0), (417, 1), (418, 0), (419, 1), (420, 0), (421, 1), (422, 0), (423, 1), (424, 0), (425, 1), (426, 0), (427, 1), (428, 0), (429, 1), (430, 0), (431, 1), (432, 0), (433, 1), (434, 0), (435, 1), (436, 0), (437, 1), (438, 0), (439, 1), (440, 0), (441, 1), (442, 0), (443, 1), (444, 0), (445, 1), (446, 0), (447, 1), (448, 0), (449, 1), (450, 0), (451, 1), (452, 0), (453, 1), (454, 0), (455, 1), (456, 0), (457, 1), (458, 0), (459, 1), (460, 0), (461, 1), (462, 0), (463, 1), (464, 0), (465, 1), (466, 0), (467, 1), (468, 0), (469, 1), (470, 0), (471, 1), (472, 0), (473, 1), (474, 0), (475, 1), (476, 0), (477, 1), (478, 0), (479, 1), (480, 0), (481, 1), (482, 0), (483, 1), (484, 0), (485, 1), (486, 0), (487, 1), (488, 0), (489, 1), (490, 0), (491, 1), (492, 0), (493, 1), (494, 0), (495, 1), (496, 0), (497, 1), (498, 0), (499, 1), (500, 0), (501, 1), (502, 0), (503, 1), (504, 0), (505, 1), (506, 0), (507, 1), (508, 0), (509, 1), (510, 0), (511, 1), (512, 0), (513, 1), (514, 0), (515, 1), (516, 0), (517, 1), (518, 0), (519, 1), (520, 0), (521, 1), (522, 0), (523, 1), (524, 0), (525, 1), (526, 0), (527, 1), (528, 0), (529, 1), (530, 0), (531, 1), (532, 0), (533, 1), (534, 0), (535, 1), (536, 0), (537, 1), (538, 0), (539, 1), (540, 0), (541, 1), (542, 0), (543, 1), (544, 0), (545, 1), (546, 0), (547, 1), (548, 0), (549, 1), (550, 0), (551, 1), (552, 0), (553, 1), (554, 0), (555, 1), (556, 0), (557, 1), (558, 0), (559, 1), (560, 0), (561, 1), (562, 0), (563, 1), (564, 0), (565, 1), (566, 0), (567, 1), (568, 0), (569, 1), (570, 0), (571, 1), (572, 0), (573, 1), (574, 0), (575, 1), (576, 0), (577, 1), (578, 0), (579, 1), (580, 0), (581, 1), (582, 0), (583, 1), (584, 0), (585, 1), (586, 0), (587, 1), (588, 0), (589, 1), (590, 0), (591, 1), (592, 0), (593, 1), (594, 0), (595, 1), (596, 0), (597, 1), (598, 0), (599, 1), (600, 0), (601, 1), (602, 0), (603, 1), (604, 0), (605, 1), (606, 0), (607, 1), (608, 0), (609, 1), (610, 0), (611, 1), (612, 0), (613, 1), (614, 0), (615, 1), (616, 0), (617, 1), (618, 0), (619, 1), (620, 0), (621, 1), (622, 0), (623, 1), (624, 0), (625, 1), (626, 0), (627, 1), (628, 0), (629, 1), (630, 0), (631, 1), (632, 0), (633, 1), (634, 0), (635, 1), (636, 0), (637, 1), (638, 0), (639, 1), (640, 0), (641, 1), (642, 0), (643, 1), (644, 0), (645, 1), (646, 0), (647, 1), (648, 0), (649, 1), (650, 0), (651, 1), (652, 0), (653, 1), (654, 0), (655, 1), (656, 0), (657, 1), (658, 0), (659, 1), (660, 0), (661, 1), (662, 0), (663, 1), (664, 0), (665, 1), (666, 0), (667, 1), (668, 0), (669, 1), (670, 0), (671, 1), (672, 0), (673, 1), (674, 0), (675, 1), (676, 0), (677, 1), (678, 0), (679, 1), (680, 0), (681, 1), (682, 0), (683, 1), (684, 0), (685, 1), (686, 0), (687, 1), (688, 0), (689, 1), (690, 0), (691, 1), (692, 0), (693, 1), (694, 0), (695, 1), (696, 0), (697, 1), (698, 0), (699, 1), (700, 0), (701, 1), (702, 0), (703, 1), (704, 0), (705, 1), (706, 0), (707, 1), (708, 0), (709, 1), (710, 0), (711, 1), (712, 0), (713, 1), (714, 0), (715, 1), (716, 0), (717, 1), (718, 0), (719, 1), (720, 0), (721, 1), (722, 0), (723, 1), (724, 0), (725, 1), (726, 0), (727, 1), (728, 0), (729, 1), (730, 0), (731, 1), (732, 0), (733, 1), (734, 0), (735, 1), (736, 0), (737, 1), (738, 0), (739, 1), (740, 0), (741, 1), (742, 0), (743, 1), (744, 0), (745, 1), (746, 0), (747, 1), (748, 0), (749, 1), (750, 0), (751, 1), (752, 0), (753, 1), (754, 0), (755, 1), (756, 0), (757, 1), (758, 0), (759, 1), (760, 0), (761, 1), (762, 0), (763, 1), (764, 0), (765, 1), (766, 0), (767, 1), (768, 0), (769, 1), (770, 0), (771, 1), (772, 0), (773, 1), (774, 0), (775, 1), (776, 0), (777, 1), (778, 0), (779, 1), (780, 0), (781, 1), (782, 0), (783, 1), (784, 0), (785, 1), (786, 0), (787, 1), (788, 0), (789, 1), (790, 0), (791, 1), (792, 0), (793, 1), (794, 0), (795, 1), (796, 0), (797, 1), (798, 0), (799, 1), (800, 0), (801, 1), (802, 0), (803, 1), (804, 0), (805, 1), (806, 0), (807, 1), (808, 0), (809, 1), (810, 0), (811, 1), (812, 0), (813, 1), (814, 0), (815, 1), (816, 0), (817, 1), (818, 0), (819, 1), (820, 0), (821, 1), (822, 0), (823, 1), (824, 0), (825, 1), (826, 0), (827, 1), (828, 0), (829, 1), (830, 0), (831, 1), (832, 0), (833, 1), (834, 0), (835, 1), (836, 0), (837, 1), (838, 0), (839, 1), (840, 0), (841, 1), (842, 0), (843, 1), (844, 0), (845, 1), (846, 0), (847, 1), (848, 0), (849, 1), (850, 0), (851, 1), (852, 0), (853, 1), (854, 0), (855, 1), (856, 0), (857, 1), (858, 0), (859, 1), (860, 0), (861, 1), (862, 0), (863, 1), (864, 0), (865, 1), (866, 0), (867, 1), (868, 0), (869, 1), (870, 0), (871, 1), (872, 0), (873, 1), (874, 0), (875, 1), (876, 0), (877, 1), (878, 0), (879, 1), (880, 0), (881, 1), (882, 0), (883, 1), (884, 0), (885, 1), (886, 0), (887, 1), (888, 0), (889, 1), (890, 0), (891, 1), (892, 0), (893, 1), (894, 0), (895, 1), (896, 0), (897, 1), (898, 0), (899, 1), (900, 0), (901, 1), (902, 0), (903, 1), (904, 0), (905, 1), (906, 0), (907, 1), (908, 0), (909, 1), (910, 0), (911, 1), (912, 0), (913, 1), (914, 0), (915, 1), (916, 0), (917, 1), (918, 0), (919, 1), (920, 0), (921, 1), (922, 0), (923, 1), (924, 0), (925, 1), (926, 0), (927, 1), (928, 0), (929, 1), (930, 0), (931, 1), (932, 0), (933, 1), (934, 0), (935, 1), (936, 0), (937, 1), (938, 0), (939, 1), (940, 0), (941, 1), (942, 0), (943, 1), (944, 0), (945, 1), (946, 0), (947, 1), (948, 0), (949, 1), (950, 0), (951, 1), (952, 0), (953, 1), (954, 0), (955, 1), (956, 0), (957, 1), (958, 0), (959, 1), (960, 0), (961, 1), (962, 0), (963, 1), (964, 0), (965, 1), (966, 0), (967, 1), (968, 0), (969, 1), (970, 0), (971, 1), (972, 0), (973, 1), (974, 0), (975, 1), (976, 0), (977, 1), (978, 0), (979, 1), (980, 0), (981, 1), (982, 0), (983, 1), (984, 0), (985, 1), (986, 0), (987, 1), (988, 0), (989, 1), (990, 0), (991, 1), (992, 0), (993, 1), (994, 0), (995, 1), (996, 0), (997, 1), (998, 0), (999, 1)]

This code creates an RDD from a list of numbers from 0 to 999, then applies the mod function to each number, which returns a tuple containing the number and its remainder when divided by 2. The first 10 of these tuples are then printed.

**Creating an RDD using List**

In [ ]:
values = [1, 2, 3, 4, 5]
rdd = sc.parallelize(values)

**Printing all the 5 elements of RDD**

In [ ]:
rdd.take(5)

**Uploading Files to Colab**

In [ ]:
from google.colab import files
uploaded = files.upload()

**Loading a text file to Spark**

In [ ]:
rdd = sc.textFile("Spark.txt")

**Print the rdd data**

In [ ]:
rdd.collect()

["PySpark is the Python API for Apache Spark, an open-source, distributed computing system designed for processing large-scale data across clusters of computers. PySpark allows Python developers to leverage the power of Spark's capabilities for big data processing while using the Python programming language.",
 '',
 'Key Features of PySpark:',
 'Distributed Computing: PySpark enables parallel processing of data across multiple nodes in a cluster, making it possible to handle very large datasets efficiently.',
 '',
 'RDDs (Resilient Distributed Datasets): These are the fundamental data structures in Spark. RDDs represent distributed collections of objects that can be processed in parallel. PySpark provides Python-friendly APIs to work with RDDs.',
 '',
 'DataFrames: Similar to RDDs, DataFrames are distributed collections of data organized into named columns, much like a table in a relational database or a DataFrame in pandas. DataFrames are optimized for performance using Spark’s Catalyst optimizer.',
 '',
 'Machine Learning: PySpark provides the MLlib library, which includes scalable machine learning algorithms for classification, regression, clustering, and collaborative filtering.',
 '',
 'SQL Queries: PySpark allows you to execute SQL queries on DataFrames using Spark SQL, enabling you to interact with data using SQL-like syntax.',
 '',
 'Graph Processing: With PySpark, you can perform graph computations using the GraphX library, which is built on top of Spark.',
 '',
 'Stream Processing: PySpark also supports stream processing through Spark Streaming, which allows you to process real-time data streams.',
 '',
 'Use Cases:',
 "Big Data Processing: PySpark is used in scenarios where there are massive datasets that need to be processed and analyzed. It's commonly used in industries like finance, healthcare, and technology.",
 'Data Pipelines: PySpark is often used to build data pipelines that extract, transform, and load (ETL) data from various sources.',
 'Machine Learning: With MLlib, PySpark is used for building scalable machine learning models that can handle large datasets.']

**RDD Persistence**

In [ ]:
aba = sc.parallelize(range(1,10000,2))
aba.persist()

PythonRDD[7] at RDD at PythonRDD.scala:53

The code creates an RDD called aba that contains all the odd numbers from 1 to 9,999.

The persist() method is called on the RDD, which means that Spark will keep the RDD in memory for faster access in future operations.

This is useful in scenarios where the RDD aba will be used multiple times, and keeping it in memory avoids the need to recompute or reload the data each time it's accessed.

**RDD Caching**

In [ ]:
textFile = sc.textFile("Spark.txt")
textFile.cache()

Spark.txt MapPartitionsRDD[9] at textFile at NativeMethodAccessorImpl.java:0

The code reads a text file ("Spark.txt") into an RDD named textFile, where each element in the RDD represents a line in the file.

The cache() method is called on the textFile RDD, instructing Spark to keep the RDD in memory for quicker access during subsequent operations.

Caching is beneficial when you know you'll be using the textFile RDD multiple times in your Spark job, as it improves performance by reducing the need to reload or recompute the data.

## **Map**

In [ ]:
x = sc.parallelize(["spark", "rdd", "example",  "sample", "example"])
y = x.map(lambda x:(x, 1))
y.collect()

[('spark', 1), ('rdd', 1), ('example', 1), ('sample', 1), ('example', 1)]

The code first creates an RDD x from a list of words.

It then maps each word to a tuple where the word is paired with the number 1, resulting in RDD y.

Finally, collect() retrieves and prints the contents of y.

This transformation is commonly used in tasks like word count, where you'd count the occurrences of each word in a dataset. The next step typically involves a reduceByKey() or groupByKey() to aggregate these counts.

# **FlatMap**

In [ ]:
rdd = sc.parallelize([2, 3, 4],numpartition=3)
sorted(rdd.flatMap(lambda x: range(1, x)).glom().collect())

TypeError: SparkContext.parallelize() got an unexpected keyword argument 'numpartition'

flatMap is similar to map, but it flattens the results, meaning that it does not keep the results of each element in separate lists; instead, it merges them into a single list.

# **Filter**

In [ ]:
rdd = sc.parallelize([1, 2, 3, 4, 5, 6])
rdd.filter(lambda x: x % 2 == 0).collect()

[2, 4, 6]

The code first creates an RDD rdd from the list [1, 2, 3, 4, 5, 6].

It then applies a filter transformation to keep only the even numbers.
collect() retrieves and returns these even numbers as a Python list.

# **Sample**

In [ ]:
parallel = sc.parallelize(range(9))
rdd=parallel.sample(True,.2)
print(rdd.count())
print(rdd.collect())

3
[4, 5, 5]

The code first creates an RDD parallel containing numbers from 0 to 8.

It then takes a sample from this RDD with replacement, where each element has a 20% chance of being included in the sample.

Finally, count() returns the number of elements in this sampled RDD.

Output Explanation:

The output of the code will be the number of elements in the sampled RDD, which will vary because of the randomness in sampling. Typically, you'd expect around 1-2 elements, but the exact count can differ each time you run the code.

In [ ]:
parallel.sample(False,0.2).collect()

[4]

False: This indicates that sampling is done without replacement. This means each element can only be selected once in the sampling process.

1: This is the sampling fraction. A fraction of 1 means that the sampling process should (in theory) select 100% of the elements. Since the sampling is without replacement, it will simply return all elements of the RDD.

Result:

Since the fraction is 1 and sampling is without replacement, the entire RDD will be returned in the sample.

#**Union**

In [ ]:
parallel = sc.parallelize(range(1,9))
par = sc.parallelize(range(5,15))
parallel.union(par).collect()

[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

The code creates two RDDs: parallel containing numbers from 1 to 8, and par containing numbers from 5 to 14.

It then takes the union of these two RDDs, resulting in a single RDD containing all the elements from both RDDs.

collect() retrieves and returns these elements as a Python list.

#**Intersection**

In [ ]:
parallel = sc.parallelize(range(1,9))
par = sc.parallelize(range(5,15))
parallel.intersection(par).collect()

[8, 5, 6, 7]

The code creates two RDDs: parallel containing numbers from 1 to 8, and par containing numbers from 5 to 14.

It then finds the intersection of these two RDDs, resulting in an RDD containing only the elements that are present in both RDDs.

collect() retrieves and returns these elements as a Python list.

#**Distinct**

In [ ]:
parallel = sc.parallelize(range(1,9))
par = sc.parallelize(range(5,15))
parallel.union(par).distinct().collect()

[4, 8, 12, 1, 5, 9, 13, 2, 6, 10, 14, 3, 7, 11]

The code first creates two RDDs: parallel with numbers from 1 to 8, and par with numbers from 5 to 14.

It then performs a union of these two RDDs, which includes all elements from both RDDs, including duplicates.

The distinct() transformation removes the duplicate elements, ensuring each number appears only once.

Finally, collect() retrieves and returns the unique elements as a Python list.

#**SortBy**

In [ ]:
y = sc.parallelize([5, 7, 1, 3, 2, 1, 10])
y.sortBy(lambda c: c, False).collect()

[10, 7, 5, 3, 2, 1, 1]


The code creates an RDD y with the elements [5, 7, 1, 3, 2, 1, 10].

It then sorts this RDD in ascending order.

collect() retrieves and returns these sorted elements as a Python list.

In [ ]:
z = sc.parallelize([("H", 10), ("A", 26), ("Z", 1), ("L", 5)])
z.sortBy(lambda c: c, False,).collect()

[('Z', 1), ('L', 5), ('H', 10), ('A', 26)]

In [ ]:
z = sc.parallelize([("H", 10), ("A", 26), ("Z", 1), ("L", 5)])
z.sortBy(lambda c: c[1], False,).collect()

[('A', 26), ('H', 10), ('L', 5), ('Z', 1)]

The code creates an RDD z with the elements [("H", 10), ("A", 26), ("Z", 1), ("L", 5)].

It then sorts this RDD in ascending order.

collect() retrieves and returns these sorted elements as a Python list.

#**MapPartitions**

In [ ]:
rdd = sc.parallelize([1, 2, 3, 4], 2)
print(rdd.glom().collect())
def f(iterator): yield sum(iterator)
print(rdd.mapPartitions(f).glom().collect())

[[1, 2], [3, 4]]
[[3], [7]]

The RDD rdd is partitioned into two parts: [1, 2] and [3, 4].

The function f computes the sum of each partition.
mapPartitions applies this function to each partition.
collect() retrieves the results.

#**MapPartitions - WithIndex**

In [ ]:
rdd = sc.parallelize([1, 2, 3, 4], 4)
def f(splitIndex, iterator): yield splitIndex
rdd.mapPartitionsWithIndex(f).sum()

6

The RDD rdd is partitioned into 4 parts.

The function f yields the index of each partition.
mapPartitionsWithIndex produces an RDD with partition indices [0, 1, 2, 3].

sum() computes the sum of these indices.

#**GroupBy**

In [ ]:
rdd = sc.parallelize([1, 1, 2, 3, 5, 8])
result = rdd.groupBy(lambda x: x % 2).collect()
sorted([(x, sorted(y)) for (x, y) in result],reverse=True)

[(1, [1, 1, 3, 5]), (0, [2, 8])]

The code groups the elements of the RDD into even and odd numbers.

It sorts the values in each group.

It then sorts the groups by the key (0 for even, 1 for odd).

# **cogroup**

In [ ]:
# Sales data RDD: (product_id, sales_amount)
sales_data = sc.parallelize([
    (1, 100),
    (2, 150),
    (1, 200),
    (3, 300),
    (2, 250)
])

# Product info RDD: (product_id, product_name)
product_info = sc.parallelize([
    (1, "Product A"),
    (2, "Product B"),
    (3, "Product C"),
    (4, "Product D")
])
# Perform cogroup operation on the two RDDs
cogrouped_rdd = sales_data.cogroup(product_info)

# Collect and print the result
result = cogrouped_rdd.collect()
formatted_result = [
    (key, (list(value1), list(value2)))
    for key, (value1, value2) in result
]

# Output the formatted result
for item in formatted_result:
    print(item)

(4, ([], ['Product D']))
(1, ([100, 200], ['Product A']))
(2, ([150, 250], ['Product B']))
(3, ([300], ['Product C']))

In [ ]:
cogrouped_rdd = sales_data.cogroup(product_info)
cogrouped_rdd.glom().collect()

[[(4,
   (<pyspark.resultiterable.ResultIterable at 0x7a996c06baf0>,
    <pyspark.resultiterable.ResultIterable at 0x7a996c06aec0>))],
 [(1,
   (<pyspark.resultiterable.ResultIterable at 0x7a995c2a2fb0>,
    <pyspark.resultiterable.ResultIterable at 0x7a995c2a3c10>))],
 [(2,
   (<pyspark.resultiterable.ResultIterable at 0x7a995c2a0e20>,
    <pyspark.resultiterable.ResultIterable at 0x7a995c2a0130>))],
 [(3,
   (<pyspark.resultiterable.ResultIterable at 0x7a995c2a2320>,
    <pyspark.resultiterable.ResultIterable at 0x7a995c2a3a60>))]]

sales_data RDD has keys 1, 2, and 3 with sales amounts.
product_info RDD has keys 1, 2, 3, and 4 with product names.
cogroup groups the data by product ID, so each key will have two lists:

One list with sales amounts (from sales_data).

One list with product names (from product_info).

#**KeyBy**

In [ ]:
x = sc.parallelize(range(0,3)).keyBy(lambda x: x*x)
y = sc.parallelize(zip(range(0,5), range(0,5)))
[(x, list(map(list, y))) for x, y in sorted(x.cogroup(y).collect())]
x.collect()

[(0, 0), (1, 1), (4, 2)]

The code creates two RDDs: x with keys based on squared values and y with key-value pairs.

It performs a cogroup operation to group these RDDs by key.

The result is collected and sorted, converting the grouped values into lists for easier readability.

#**Zip**

In [ ]:
x = sc.parallelize(range(0,5))
y = sc.parallelize(range(1000, 1005))
x.zip(y).collect()

[(0, 1000), (1, 1001), (2, 1002), (3, 1003), (4, 1004)]


The zip operation combines the two RDDs into tuples based on the position of the elements.

The collect() action retrieves the combined result as a list of tuples.

#**Zip - WithIndex**

In [ ]:
sc.parallelize(["a", "b", "c", "d"], 5).zipWithIndex().glom().collect()

[[], [('a', 0)], [('b', 1)], [('c', 2)], [('d', 3)]]

In [ ]:
sc.parallelize(["a", "b", "c", "d"], 2).zipWithIndex().glom().collect()

[[('a', 0), ('b', 1)], [('c', 2), ('d', 3)]]


This transformation pairs each element of the RDD with its index, starting from 0.
It produces an RDD of tuples where each tuple consists of an element from the original RDD and its corresponding index.

#**Repartition**

In [ ]:
rdd = sc.parallelize([1,2,3,4,5,6,7], 4)
sorted(rdd.glom().collect())

[[1], [2, 3], [4, 5], [6, 7]]

In [ ]:
rdd.repartition(2).glom().collect()
#len(rdd.repartition(2).glom().collect())

[[4, 5, 6, 7], [1, 2, 3]]

The repartition(2) transformation reshuffles the RDD to have 2 partitions. This operation might involve data shuffling.

sorted(rdd.glom().collect()) will show the partitioned RDD as a sorted list of lists.

len(rdd.repartition(2).glom().collect()) will return the number of partitions after repartitioning, which is 2 in this case.

#**Coalesce**

In [ ]:
sc.parallelize([1, 2, 3, 4, 5,6,7], 4).glom().collect()

[[1], [2, 3], [4, 5], [6, 7]]

In [ ]:
sc.parallelize([1, 2, 3, 4, 5,6,7], 4).coalesce(2).glom().collect()

[[1, 2, 3], [4, 5, 6, 7]]

coalesce(n) is used to reduce the number of partitions from the current number to n.

Unlike repartition, coalesce tries to minimize data movement and is more efficient for reducing the number of partitions.

# **Action**

# **Reduce**

In [ ]:
sc.parallelize([1, 2, 3, 4, 5]).map(lambda x:(1,x)).collect()

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5)]

sc.parallelize([1, 2, 3, 4, 5]) creates an RDD from the list.

.reduce(lambda x, y: x + y) computes the sum of all elements in the RDD.

#**First**

In [ ]:
sc.parallelize([1, 2, 3, 4]).first()

1

sc.parallelize([1, 2, 3, 4]) creates an RDD from the list.

.first() retrieves the first element of the RDD.

#**TakeOrdered**

In [ ]:
nums = sc.parallelize([1,5,3,9,4,0,2])
nums.takeOrdered(5)

[0, 1, 2, 3, 4]

sc.parallelize([1, 5, 3, 9, 4, 0, 2]) creates an RDD from the list.

.takeOrdered(5) retrieves the 5 smallest elements from the RDD in ascending order.

#**Take**

In [ ]:
nums = sc.parallelize([1,5,3,9,4,0,2])
nums.take(5)

[1, 5, 3, 9, 4]

sc.parallelize([1, 5, 3, 9, 4, 0, 2]) creates an RDD from the list.

.take(5) retrieves the first 5 elements from the RDD as a list.

#**Count**

In [ ]:
nums = sc.parallelize([1,5,3,9,4,0,2,4])
nums.count()

8

sc.parallelize([1, 5, 3, 9, 4, 0, 2, 4]) creates an RDD from the list.

.count() returns the total number of elements in the RDD.

#**Collect**

In [ ]:
c = sc.parallelize(["Gnu", "Cat", "Rat", "Dog", "Gnu", "Rat"], 2)
c.collect()

['Gnu', 'Cat', 'Rat', 'Dog', 'Gnu', 'Rat']

This action retrieves all the elements from the RDD and returns them as a list.

It combines the elements from all partitions and returns them in a list, although the order might not be guaranteed due to the distributed nature of the RDD.

In [ ]:
c = sc.parallelize(["Gnu", "Cat", "Rat", "Dog", "Gnu", "Rat"], 2)
c.distinct().collect()

['Cat', 'Rat', 'Gnu', 'Dog']

# **CollectAsMap**

In [ ]:
alphanumerics = sc.parallelize([(1,"a"),(2,"b"),(3,"c"),(1,"b")])
alphanumerics.collectAsMap()

{1: 'b', 2: 'b', 3: 'c'}

sc.parallelize([(1, "a"), (2, "b"), (3, "c")]) creates an RDD of key-value pairs.

.collectAsMap() converts the RDD into a dictionary.

#**SaveAsTextfile**

In [ ]:
a = sc.parallelize(range(1,10000), 3)
a.saveAsTextFile("/content/mydata_a1")

In [ ]:
x = sc.parallelize([1,2,3,4,5,6,6,7,9,8,10,21], 3)
x.saveAsTextFile("/usr/bin/sample1.txt")

sc.parallelize([1, 2, 3, 4, 5, 6, 6, 7, 9, 8, 10, 21], 3) creates an RDD with 3 partitions.

.saveAsTextFile("/usr/bin/sample1.txt") saves the RDD to the specified directory in text format, with each partition written to a separate file.

#**Foreach**

In [ ]:
def f(x): print(x)
sc.parallelize([1,2,3,4,5]).foreach(f)

def f(x): print(x) defines a function that prints each element.

sc.parallelize([1, 2, 3, 4, 5]).foreach(f) applies the function f to each element in the RDD, printing each element to the console.

#**Foreach - Partition**

In [ ]:
def f(iterator):
  for x in iterator:
    print(x)
sc.parallelize([1, 2, 3, 4, 5]).foreachPartition(f)

foreachPartition passes an iterator of the elements of each partition to the function f.

The function f then iterates over this iterator and prints each element of the partition.

#**Mathematical Actions**

In [ ]:
numbers = sc.parallelize(range(1,100))
numbers.collect()

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
numbers.sum()

4950

In [ ]:
numbers.min()

1

In [ ]:
numbers.variance()

816.6666666666666

In [ ]:
numbers.max()

99

In [ ]:
numbers.mean()

50.0

In [ ]:
numbers.stdev()

28.577380332470412

#**CountByValue**

In [ ]:
a = sc.parallelize([1,2,3,4,5,6,7,8,2,4,2,3,3,3,1,1,1])
a.countByValue()

defaultdict(int, {1: 4, 2: 3, 3: 4, 4: 2, 5: 1, 6: 1, 7: 1, 8: 1})

sc.parallelize([1, 2, 3, 4, 5, 6, 7, 8, 2, 4, 2, 3, 3, 3, 1, 1, 1]) creates an RDD from the list.

.countByValue() returns a dictionary with counts of each unique value in the RDD.

#**toDebugString**

In [ ]:
a = sc.parallelize(range(1,19),3)
b = sc.parallelize(range(1,13),3)
c = a.subtract(b)
c.toDebugString()

b'(6) PythonRDD[175] at RDD at PythonRDD.scala:53 []\n |  MapPartitionsRDD[174] at mapPartitions at PythonRDD.scala:160 []\n |  ShuffledRDD[173] at partitionBy at NativeMethodAccessorImpl.java:0 []\n +-(6) PairwiseRDD[172] at subtract at <ipython-input-54-e1f9a4054d92>:3 []\n    |  PythonRDD[171] at subtract at <ipython-input-54-e1f9a4054d92>:3 []\n    |  UnionRDD[170] at union at NativeMethodAccessorImpl.java:0 []\n    |  PythonRDD[168] at RDD at PythonRDD.scala:53 []\n    |  ParallelCollectionRDD[166] at readRDDFromFile at PythonRDD.scala:289 []\n    |  PythonRDD[169] at RDD at PythonRDD.scala:53 []\n    |  ParallelCollectionRDD[167] at readRDDFromFile at PythonRDD.scala:289 []'

sc.parallelize(range(1, 19), 3) creates RDD a with values [1, 2, ..., 18] in 3 partitions.

sc.parallelize(range(1, 13), 3) creates RDD b with values [1, 2, ..., 12] in 3 partitions.

a.subtract(b) computes the difference, resulting in RDD c with values [13, 14, 15, 16, 17, 18].

c.toDebugString() provides a detailed string representation of RDD c’s lineage and partitioning.

#**Creating Pair RDDs**

In [ ]:
rdd = sc.parallelize([("a1", "b1", "c1", "d1", "e1"), ("a2", "b2", "c2", "d2", "e2")])
result = rdd.map(lambda x: (x[0], list(x[1:])))
result.collect()

[('a1', ['b1', 'c1', 'd1', 'e1']), ('a2', ['b2', 'c2', 'd2', 'e2'])]

sc.parallelize([("a1", "b1", "c1", "d1", "e1"), ("a2", "b2", "c2", "d2", "e2")]) creates an RDD of tuples.

rdd.map(lambda x: (x[0], list(x[1:]))) transforms each tuple into a tuple where the first element is kept, and the remaining elements are turned into a list.

result.collect() retrieves the transformed tuples from the RDD.

#**WordCount using RDD concepts**

In [ ]:
rdd =sc.textFile("Spark.txt")

In [ ]:
nonempty_lines = rdd.filter(lambda x: len(x) > 0)

sc.textFile("Spark.txt"):

Reads the text file "Spark.txt" into an RDD where each element is a line from the file.
rdd.filter(lambda x: len(x) > 0):

In [ ]:
words = nonempty_lines.flatMap(lambda x: x.split(' '))

Filters out any empty lines from the RDD. The lambda function lambda x: len(x) > 0 checks if the length of the line is greater than 0. nonempty_lines.flatMap(lambda x: x.split(' ')):

Splits each line into words. flatMap is used to flatten the resulting lists of words into a single RDD of words.
The lambda function lambda x: x.split(' ') splits each line by spaces.

In [ ]:
wordcount = words.map(lambda x:(x,1)).reduceByKey(lambda x,y: x+y).map(lambda x: (x[1], x[0])).sortByKey(False)

words.map(lambda x: (x, 1)):

Maps each word to a key-value pair where the key is the word and the value is 1.
This prepares the RDD for counting occurrences.
reduceByKey(lambda x, y: x + y):

Reduces the key-value pairs by key, summing up the values.
This counts the occurrences of each word.
map(lambda x: (x[1], x[0])):

Maps the (word, count) pairs to (count, word) pairs to facilitate sorting by count.
This prepares the data for sorting by frequency.
sortByKey(False):

Sorts the RDD by the count in descending order (largest count first).
wordcount.take(10):

In [ ]:
for word in wordcount.take(10):
   print(word)

(10, 'PySpark')
(9, 'data')
(9, 'to')
(7, 'of')
(7, 'in')
(6, 'the')
(6, 'for')
(5, 'is')
(5, 'using')
(4, 'are')

In [ ]:
wordcount.saveAsTextFile("/content/Wordcount")





Takes the top 10 most frequent words (by count) from the RDD.
for word in wordcount.take(10): print(word):

Prints each of the top 10 most frequent words and their counts.
wordcount.saveAsTextFile("/content/Wordcount"):

Saves the word count results to the directory /content/Wordcount.
Each file in the directory will contain part of the result, with the counts and words.